# JetBrains IDEs conf folders
**/.idea/*

# Python temp and execution folders
**/__pycache__/*

# Logs
**/LOG/*

# Audio FIles
*.wav

# DB
/DB/smartSlamDB.sqlite
/DB/Samples/labels.csv

# Credentials and setting files
# For each of them a STUB file is provided as name_ERASE_ME.json
# Rename them removing the capitalized part and fill with the correct information
/config.json
/ManagementTelegramBOT/credentials.json
/RaspberryScripts/settings.json
/Classifier/configurations.json
/WebUI/users.db
