# JetBrains IDEs conf folders
**/.idea/*

# Logs
**/LOG/*

# DB
/DB/Samples/
/DB/smartSlamDB.sqlite

# Credentials
/ManagementTelegramBOT/credentials.json

# Settings
/RaspberryScripts/settings.json


