# JetBrains IDEs conf folders
**/.idea/*

# Python temp and execution folders
**/__pycache__/*

# Logs
**/LOG/*

# DB
/DB/Samples/
/DB/smartSlamDB.sqlite

# Credentials
/ManagementTelegramBOT/credentials.json

# Settings
/RaspberryScripts/settings.json


