{% extends "template.html" %}
{% block content %}
	
		<h2>Welcome! You are logged in!</h2>

		<a href="/logout">Logout</a>

		<br/>
        <br/>
        <h3>Accesses Data :</h3>

        <table id="example" class="display compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Name</th>
                 <th>Label</th>
                 <th></th>
                <th></th>

            </tr>
        </thead>

         <tfoot>
            <tr>
                <th>Timestamp</th>
                <th>Name</th>
                 <th>Label</th>


            </tr>
        </tfoot>
            <tbody>
        {% for item in accesses %}

            <tr>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.name }}</td>
                 <td>{{ item.label }} </td>
                <td> <table>
                    <tr>



                <form action="{{ url_for('update' , name=item.name) }}" method=post   class=update>

			<select name="priority">
				{% for it in labels %}


				<option value={{ it.label }}>{{ it.label }}</option>

			{% endfor %}
			</select>
            <input class="button" type="submit" value="update label">
		        </form>
                         </tr> </table>
                </td>
                 <td>
                            {% if item.present %}
                            <a href="{{ url_for('play',name=item.name) }}">Play </a> &nbsp &nbsp &nbsp<a href="{{ url_for('download',name=item.name) }}">Download</a>
                     {% else %} <h5> File no longer available</h5>
                 </td>

                {% endif %}


            </tr>


		{% endfor %}

         </tbody>
    </table>
   	    <script>
        $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table =  $('#example').DataTable( {
        "order": [[ 0, "desc" ]],
        "columnDefs": [ {
          "targets": 3,
           "orderable": false
        },
         {
          "targets": 4,
           "orderable": false
         }

    ]
    } );

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
	    </script>


{% endblock %}	

